.markpen-mark{
    border-radius: 0.2em;
    cursor: pointer;
}

.markpen-toolbar{
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 1px 2px 3px -2px #222;
    background: #333;
    background-image: linear-gradient(to bottom, #222, #333);
    opacity: 0.9;
    font-size: 0;
    cursor: pointer;
}

.markpen-toolbar-button{
    display: inline-block;
    line-height: 36px;
    font-size: 16px;
    font-weight: bold;
    padding: 0 10px 0 10px;
    color: #FFF;
}

.markpen-toolbar-button:hover{
    background-color: #000;
}
